name: Cargo check

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2025-12-28
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          toolchain: nightly-2025-12-28
